figure {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: blue;
  box-shadow: inset -20px -20px 60px 10px;
  animation-name: policeLight;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-delay: 50ms;
}

div {
  width: 300px;
  height: 50px;
  border: 1px solid;
  background-color: blue;
  animation-name: policeLight;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

@keyframes policeLight {
  0% {
    background-color: blue;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: red;
  }
}
